# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs y editores
.vscode/
.idea/
.DS_Store
Thumbs.db

# Entornos
.env
.env.*

# Otros
*.local
